/*Genellikle css sayfalarinin en ustunde kullanilir. 
Elemenlerin genislik ve yukseklik degerlerini pedding ve
 border degerlerininde dahil olmasini saglar.*/


/**{
	box-sizing: border-box;
}*/
body{
	background-color: #efefef;
	padding: 10px;
	font-family: Arial, sans-serif;
	font-size: 15px;
}
.container{
	background-color:Tomato;
}
header{
	
	width: 150px;
	background-color: #f8f8ff;
	padding: 10px;
	overflow: auto;
}
.ust-sol{
	width: 50%
	float:left;
}
img{
	float:right;
	border-radius:50%;
	width: 50%;
	
}